body{
    background-color: #C8A2C8;
    color: white;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(191, 191, 250);
    color: white;
    font-family: "Playfair Display", serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}